## Local overrides (not versioned)
## Copy to .env.local and adjust values
## Values here override those in .env.<version>

# TYPO3 Admin Credentials
TYPO3_INSTALL_ADMIN_USER="t3_admin"
TYPO3_INSTALL_ADMIN_PASSWORD="change#Me3"

# Packages
CREATE_PACKAGES_DIR=0

# Add-ons
INSTALL_PHPMYADMIN=0
INSTALL_CAMINO_THEME=1
